/* Custom styles (if needed) */
body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        padding: 20px;
    }
}



